@model CoreRpsCrud_Elias.Models.Admission

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Admission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TraineeID" class="control-label"></label>
                <input asp-for="TraineeID" class="form-control" />
                <span asp-validation-for="TraineeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstractorName" class="control-label"></label>
                <input asp-for="InstractorName" class="form-control" />
                <span asp-validation-for="InstractorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransanctionId" class="control-label"></label>
                <input asp-for="TransanctionId" class="form-control" />
                <span asp-validation-for="TransanctionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseFee" class="control-label"></label>
                <input asp-for="CourseFee" class="form-control" />
                <span asp-validation-for="CourseFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdmissionDate" class="control-label"></label>
                <input asp-for="AdmissionDate" class="form-control" />
                <span asp-validation-for="AdmissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
